h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: lighter;
}

.radio-buttons {
    border-radius: 50%;
}

.disabled-button {
    display: flex;
}

.disable-component {
    margin: 10px;
}
